<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	id="com.phonegap.plugins.estimote"
	version="0.9">

	<name>Estimote</name>

	<description>
		Allows access to Estimote API via JavaScript.
	</description>

	<engines>
		<engine name="cordova" version=">=2.6.0" />
	</engines>

	<platform name="android">
		
		<config-file target="res/xml/config.xml" parent="/*">
			<feature name="Estimote">
				<param name="android-package" value="org.apache.cordova.estimote.EstimotePlugin" />
			</feature>
		</config-file>
		
		<config-file target="AndroidManifest.xml" parent="/manifest">
    		<uses-permission android:name="android.permission.BLUETOOTH" />
    		<uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
			<service android:name="com.estimote.sdk.service.BeaconService" android:exported="false" />
		</config-file>	
		
		<js-module src="www/estimote.js" name="estimote">
			<clobbers target="estimote" />
		</js-module>

		<source-file src="src/android/EstimotePlugin.java" target-dir="src/org/apache/cordova/estimote" />
		<source-file src="src/android/BluetoothError.java" target-dir="src/org/apache/cordova/estimote" />		

	</platform>

</plugin>
